################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RestAPI.slnx/FileContentIndex/58e534e8-1a3f-4d9d-b3d4-61f32d4a9ebe.vsidx
/.vs/RestAPI.slnx/FileContentIndex/e1054a2a-167a-49e2-b16b-aeeeb2a179fa.vsidx
/.vs/RestAPI.slnx/FileContentIndex/ac720318-e73e-4d1f-881e-3ceb69dbf83e.vsidx
/.vs/RestAPI.slnx/FileContentIndex/c608d825-49e6-4a8a-b0bb-8e9cb069f5e8.vsidx
